* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 140, 255);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  padding: 1rem;
  background-color: rgb(1, 103, 187);
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
}

.container .tampung-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.container .tampung-text p {
  text-align: justify;
}

.tombol {
  width: 100%;
}

.button {
  border: 1px solid black;
  padding: 0.5rem;
  width: 90%;
  border-radius: 20px;
  margin-top: 1rem;
  background-color: white;
}

.gambar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
